In [1]:
from sklearn import svm
import numpy as np
import pandas as pd

In [2]:
nh = 7 #Número de fotos na base de dados happy
ns = 8 #Número de fotos na base de dados sad
ls = []
lh = []
array = np.zeros((nh + ns,6))
filepath = 'foto_happy_angles.txt'  
with open(filepath) as fp:  
   for cnt, line in enumerate(fp):
        if ("Imagens" not in line) and ("Foto" not in line):
            parts = [p for p in line.split("\n")]
            lh.append(parts[0])
            
filepath = 'foto_sad_angles.txt'  
with open(filepath) as fp:  
   for cnt, line in enumerate(fp):
        if ("Imagens" not in line) and ("Foto" not in line):
            parts = [p for p in line.split("\n")]
            ls.append(parts[0])

In [3]:
x = 0
y = 0
i = 0

while i <= (ns+nh-1):
    array[i] = ls[x:x+6]
    x+=6
    i+=1
    while (i > ns-1) and (i <= (ns+nh-1)):
        array[i] = lh[y:y+6]
        i+=1
        y+=6

In [4]:
array

array([[ 0.19856789,  0.67505276,  1.17668765,  2.31507278,  1.26791146,
         0.        ],
       [ 0.44887101,  0.44275132,  0.75837771,  2.02462753,  1.43790365,
         0.        ],
       [ 0.11966599,  0.44365028,  0.80655903,  2.06397425,  1.50713744,
         0.        ],
       [ 0.36093049,  0.56852455,  0.96767092,  2.06013309,  1.26908   ,
         0.        ],
       [-0.02474248,  0.46449588,  0.90747708,  2.62848577,  1.33965668,
         0.        ],
       [-0.00751866,  0.62238395,  1.17227388,  2.34315175,  1.42889927,
         0.        ],
       [ 0.00636934,  0.47220253,  0.83298127,  2.41495031,  1.30028294,
         0.        ],
       [ 0.01369777,  0.64278962,  1.10969973,  2.30361143,  1.16814167,
         0.        ],
       [ 0.35877067,  0.24761222,  0.5847061 ,  1.8894121 ,  1.7166348 ,
         1.        ],
       [ 0.51953835,  0.52093915,  1.03477621,  2.04519621,  1.39094283,
         1.        ],
       [ 0.37030068,  0.47499333,  0.95866516,  2.08531046,  1.56857411,
         1.        ],
       [ 0.41513375,  0.3332443 ,  0.57275324,  1.8486629 ,  1.64756822,
         1.        ],
       [ 0.49293351,  0.11403513,  0.22092714,  1.73032923,  1.99874482,
         1.        ],
       [ 0.3686959 ,  0.41670226,  0.9179497 ,  2.07221666,  1.39612413,
         1.        ],
       [ 0.42191672,  0.41606451,  0.86188873,  2.0370686 ,  1.53666325,
         1.        ]])

In [5]:
dados = pd.DataFrame(data=array)
dados

           0         1         2         3         4    5
0   0.198568  0.675053  1.176688  2.315073  1.267911  0.0
1   0.448871  0.442751  0.758378  2.024628  1.437904  0.0
2   0.119666  0.443650  0.806559  2.063974  1.507137  0.0
3   0.360930  0.568525  0.967671  2.060133  1.269080  0.0
4  -0.024742  0.464496  0.907477  2.628486  1.339657  0.0
5  -0.007519  0.622384  1.172274  2.343152  1.428899  0.0
6   0.006369  0.472203  0.832981  2.414950  1.300283  0.0
7   0.013698  0.642790  1.109700  2.303611  1.168142  0.0
8   0.358771  0.247612  0.584706  1.889412  1.716635  1.0
9   0.519538  0.520939  1.034776  2.045196  1.390943  1.0
10  0.370301  0.474993  0.958665  2.085310  1.568574  1.0
11  0.415134  0.333244  0.572753  1.848663  1.647568  1.0
12  0.492934  0.114035  0.220927  1.730329  1.998745  1.0
13  0.368696  0.416702  0.917950  2.072217  1.396124  1.0
14  0.421917  0.416065  0.861889  2.037069  1.536663  1.0

In [6]:
X = dados.iloc[:,[0,1,2,3,4]]
y = np.ravel(dados.iloc[:,[5]])

In [7]:
dados = dados.sample(frac=1).reset_index(drop=True) #shuffle dataframe

In [8]:
n1 = int(0.8*dados.shape[0])
X_train = dados.iloc[:n1,[0,1,2,3,4]]
y_train = np.ravel(dados.iloc[:n1,[5]])

X_pred = dados.iloc[n1:,[0,1,2,3,4]]

In [9]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB(priors=None)

In [10]:
y_pred = model.predict(X_pred)#Output predicted
y_pred

array([0., 1., 1.])

In [11]:
dados.iloc[n1:,[5]]

      5
12  0.0
13  1.0
14  1.0